$row-width       : 100%;

// Generic Colors
$black           : #333333;
$black-90        : rgba(0,0,0, 0.9);
$white           : #ffffff;

// Brand Colors
$orange          : #fbb040;
$blue            : #2e3c4f;
$lt-blue         : #506f86;

// Layout
