.hero {
  background: url(../img/hero.jpg) no-repeat center center;
  background-size: cover;
  border-bottom: 3px solid $blue;
  text-align: center;

  svg {
    display: block;
    padding: 3em 0 1.5em 0;
    margin: 0 auto;
    max-width: 300px;
  }

  a.button {
    display: inline-block;
    background: $orange;
    margin-bottom: 2em;

    &:hover { background: darken($orange, 5%); }

  }
}

@media #{$medium-up} {

  .hero {
    min-height: 400px;
  }

}
